.all-task-section {
  
}
.all-task-section h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card-container{
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
  gap: 16px; /* Adjusts the spacing between grid items */
  padding: 20px;
}