.all-task-section {
  
}
.all-task-section h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}



/* Adjustments for mobile screens */
@media (max-width: 767px) {

  .all-task-section h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tasks-container-mobile{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
}


}