.sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100vh;
  padding: 20px;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 70px;
  color: white;
}

.profile-section img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  background-color: aqua;
  border-radius: 50%;
  text-align: center;
}

.user-name {
  font-size: medium;
  font-weight: 500;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.menu-button {
  padding: 10px 24px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  font-size: medium;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

.login-btn {
  padding: 5px 10px;
}

.login-link {
  font-size: 18px;
  color: white;
  font-weight: 400;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.dropdown-menuu {
  display: none; /* Hide by default */
}

  /* Adjustments for tablet screens */
  @media screen and (min-width: 576px) and (max-width: 769px ) {
  }
/* Adjustments for mobile screens */
@media (max-width: 576px) {
  .sidebar-section {
    flex-direction: row;
    width: 100vw;
    height: 90px;
    padding: 10px;
  }

  .profile-section {
    margin: 0;
    gap: 10px;
  }
  .user-name {
    font-size: 16px;
    font-weight: 400;
  }

  .profile-section img {
    width: 30px;
    height: 30px;
  }

  .dropdown-menuu {
    display: block; 
  }

  .menu-container {
    display: none; 
  }

  .login-btn {
    padding: 5px 5px;
  }

  .login-link {
    font-size: 16px;
  }
}
