.login-section {
    background: #dbdbdb;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  
  .signUp-form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 400px;
    background-color: aliceblue;
    padding: 40px;
    margin: 0 auto;
    border-radius: 16px;
  }
  
  .form-title {
    font-size: 18px;
    font-weight: 600;
    color: black;
  }
  .submit-btn {
    background-color: maroon;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 12px;
  }
  .form-bottom {
    display: flex;
    flex-direction: column;
  
    text-align: center;
    font-weight: 400;
    font-size: 16px;
  }
  .google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .form-bottom .login-link {
    color: blue;
    text-decoration: underline;
  }
  
  
  
  /* Adjustments for tablet screens */
  @media screen and (min-width: 576px) and (max-width: 769px ) {
   
  .signUp-form {
      
      width: 60%;
      padding: 20px;
    
    }
  
  }
  
  /* Adjustments for mobile screens */
  @media (max-width: 576px) {
      .signUp-form {
      
          width: 80%;
          padding: 20px;
        
        }
  
  
  }